img {
  width: 200px;
}

.card {
  width: 60%;
  border-radius: 20px;
  background-color: lightblue;
}

.d-flex {
  display: flex;
  width: 100%;
}

.ms-10 {
  margin-left: 10px;
}

.pt-20 {
  padding-top: 20px;
}