body {
  padding-left: 20px;
}

img {
  width: 150px;
  border-bottom-left-radius: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

input {
  width: 300px;
}

.card {
  width: 800px;
  border-radius: 20px;
  background-color: lightblue;
}

.d-flex {
  display: flex;
  width: 100%;
}

.mx-10 {
  margin: 0 10px;
}

.pt-20 {
  padding-top: 20px;
}